body {
    width: 200px;
    margin: 0 auto;
}

.getTime {
    background-color: rgb(207, 232, 220);
    border: 10px solid rgb(79, 185, 227);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    font-size: large;
}